{
  "plugins": [
    "transform-class-properties",
    "react-html-attrs",
    "transform-decorators-legacy"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
