.todo-list {
  display: flex;
  min-width: 480px;
  max-width: 1200px;
  margin: 0 auto;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
}

.todo-header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  img {
    width: 150px;
    border: 2px solid rgba(36, 209, 59, 0.3);
    height: auto;
  }
}

h1 {
  text-transform: uppercase;
  margin: 10px 0;
  padding: 0;
  font-size: 1.5em !important;
}

.user {
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9em;
}
