.modal-edit {
  position: fixed;
  max-width: 960px;
  min-width: 480px;
  min-height: 190px;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;
  z-index: 1000;
  background-color: #fff;
  border: 2px solid rgba(202, 71, 209, 0.7);;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  @media only screen and (max-width: 625px) {
    top: 30%;
  }
  .btn--pink {
    background-color: rgba(202, 71, 209, 0.3);
    &:hover {
      cursor: pointer;
      outline: 1px solid #CA47D1;
    }
  }
}

.modal-title {
  text-transform: uppercase;
  font-size: 1.1em;
}

.edit-inputs {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  @media only screen and (max-width: 625px) {
    flex-flow: column wrap;
    justify-content: center;
  }
}

.edit-input {
  width: 30%;
  margin-bottom: 5px;
  border: none;
  padding: 5px 10px;
  outline: 1px solid rgba(36, 209, 59, 0.5);
  &:focus {
    outline: 1px solid rgba(36, 209, 59, 1);
  }
  @media only screen and (max-width: 625px) {
    width: 100%;
  }
}

.edit-text {
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  resize: none;
  outline: 1px solid rgba(36, 209, 59, 0.5);
  &:focus {
    outline: 1px solid rgba(36, 209, 59, 1);
  }
  @media only screen and (max-width: 625px) {
    min-height: 100px;
  }
}

.edit-buttons {
  display: flex;
  width: 100%;
  margin: 10px 0;
  @media only screen and (max-width: 625px) {
    flex-flow: column wrap;
    align-items: center;
  }
  .btn-edit {
    flex-grow: 1;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
    border: none;
    outline: none;
    background-color: rgba(36, 209, 59, 0.3);
    &:hover {
      cursor: pointer;
      outline: 1px solid #24D13B;
    }
    &--pink {
      background-color: rgba(202, 71, 209, 0.3);
      &:hover {
        cursor: pointer;
        outline: 1px solid #CA47D1;
      }
    }
    &--red {
      background-color: rgba(227, 100, 100, 0.3);
      &:hover {
        cursor: pointer;
        outline: 1px solid #E36464;
      }
    }
  }
}
