.modal-form {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.modal-input {
  width: 33%;
  margin-bottom: 5px;
  outline: none;
  border: none;
  padding: 5px 10px;
  @media only screen and (max-width: 625px) {
    width: 100%;
  }
}

.modal-text {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  width: 100%;
  min-height: 150px;
  flex-grow: 1;
  flex-shrink: 0;
  resize: none;
}

.inputs {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
